.video {
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

video::-webkit-media-controls-panel {
  background-color: #333;
}

video::-webkit-media-controls-play-button {
  background-color: #fff;
}